@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

  #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app-container {
  max-width: 800px;
  width: 100%;
  background-color: #3b547c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

li.form {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 5px;
  border-radius: 8px;
  background-color: #cadcf2;
  width: 300px;
}

input {
  font-family: 'Poppins';
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  position: relative;
  padding: 15px;
  flex-wrap: wrap;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  flex-wrap: wrap;
}

.whole-page {
  background-color: rgba(37, 67, 110, 0.9);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 15px;
}

.button {
  color: #fff;
  background-color:black;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px rgb(62, 62, 62);
}

.button:hover {
  background-color: #1a1a1a;
}

.button:active {
  background-color: #0b0b0b;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.container {
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 8px;
  background-color: #cadcf2;
}

.ban-list-container {
  background-color: #cbd8ec;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.ban-list-container ul {
  padding: 0;
  list-style: none;
}

.ban-list-container li {
  padding: 5px;
  font-size: 14px;
  color: black;
}

.video-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #cadcf2;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.screenshot {
  max-width: 90%;
  border-radius: 8px;
  margin: 10px 0;
}